/**

    Project 3 CSS
    Name: Narathip Sarrapanya
    Date: March 29, 2021
    Description: Project 3 CSS

 **/

body {
  background-color: #323840;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  width: 75%;
  margin: 0 auto;
}

.edu-img, .exp-img, .contact-img {
  background-repeat: no-repeat;
  background-size: 100%, 50%;
  background-position: 0 50%;
  height: 350px;
  width: 100%;
}

.edu-img {
  background-image: url("../images/1.jpg");
}

.exp-img {
  background-image: url("../images/3.jpg");
  background-position: bottom;
}

.contact-img {
  background-image: url("../images/2.jpg");
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #505966; */
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  color: #63A7FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  text-decoration: underline;
}

.landing {
  /* background-color: #505966; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  /* border: 1px solid #000000; */
}

span {
  font-size: 144px;
  text-transform: uppercase;
}

button {
  background-color: #323840;
  border: 1px solid;
  color: #FFFFFF;
  width: 75px;
  height: 30px;
}

button:hover {
  background-color: #505966;
}

.edu {
  /* background-color: #505966; */
  position: relative;
  padding: 10px;
}

form ul {
  position: relative;
  list-style-type: none;
  left: -40px;
}

form label {
  display: inline-block;
  width: 200px;
}

form input {
  display: inline-block;
  width: 200px;
  height: 26px;
}

form textarea {
  display: inline-block;
  width: 200px;
}

#phonenumber_invalid_error, #email_invalid_error, .error {
  color: red;
  display: none;
}
